* {-moz-box-sizing: border-box; box-sizing: border-box;}
body {
	
	background-color: #FFFFFF;
	/* Changer la couleur http://stylescss.free.fr/couleurs.php */
	color: #000;
	font-family: 'Oxygen',Arial,Helvetica,sans-serif;
	
}

div{
	display:block;
}

.header {
	
	position: fixed, top, absolute;
	background-color: #FFFFFF;
	margin-top:0;
	border-bottom: 3px black double;
	
}
.header_gest{
	
	background-color: #C0C0C0;
	height: 7%;
	position: absolute; 
	bottom: 0; left: 0; right: 0;
	text-align:center;
}


#footer-menu li{
	display:inline;
	margin-left:10px;
	margin-right:10px;
}

.contenu{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
}

#footer-menu{
	padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}

footer {
	
	background-color: #e10203;
	height: 5%;
	position: absolute; 
	bottom: 0; left: 0; right: 0;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
}


#logovelov{
	left:0;
	top:0;
	width:10%;
	height:5%;
	margin :0;

}

#logogdlyon{
	float: right;
	width:15%;
	height:12%;
	margin :0;

}

#centre{
	display: inline-block;
	text-align : center;
    width:100px;
	margin-left :50%;
	margin-top:0;
}

#langfr{
	width:25%;
	height:15%;
	
}

#langfr:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#langen:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#langen{
	width:25%;
	height:12%;
}

h1 {
	
	text-align: center;
	font-family: 'Oxygen',Arial,Helvetica,sans-serif;
    font-weight: bold;
	
}

h2 {
	
	text-align: center;
	font-family: 'Oxygen',Arial,Helvetica,sans-serif;
    font-weight: normal;
	color: #e10203;
}


